[tool.ruff]
line-length = 110
target-version = "py310"
exclude = [
    ".git",
    ".pytest_cache",
    "research",
    "__pycache__",
    "logs"
]

[tool.ruff.lint]
select = ["E", "W", "F", "B", "I", "UP"]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

# -----------------------------

[tool.mypy]
python_version = "3.10"
warn_return_any = true
warn_unused_configs = true
check_untyped_defs = true
ignore_missing_imports = true

files = ["dags", "plugins", "tests"]