name: CI/CD Pipeline

# TRIGGERS
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  AIRFLOW_VERSION: "3.1.6"
  PYTHON_VERSION: "3.10"
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  integration:
    name: Code Quality & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      
      - name: Install dependencies
        run: make install_deps
      
      - name: Prepare environment for tests
        run: |
          cp .env.template .env

      - name: Run Linter (Ruff + MyPy)
        run: make lint
      
      - name: Run Tests (Pytest)
        run: make test
      
      - name: Build Docker Image
        run: make build

  build-and-push:
    needs: integration
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, lables) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=sha,prefix=sha-
        
      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/airflow/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      
