name: CI Pipeline

# TRIGGERS

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  integration:
    name: Code Quality & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r docker/airflow/requirements.txt
          pip install -r docker/airflow/requirements_dev.txt
      
      - name: Run Linter (Ruff + MyPy)
        run: make lint
      
      - name: Run Tests (Pytest)
        run: make test
      
      - name: Build Docker Image
        run: make build
          
